@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

html,
body {
	background: linear-gradient(30deg, rgb(46, 50, 93), black);
	background-repeat: no-repeat;
	font-family: 'Nunito', sans-serif;
	min-height: 100vh;
	color: white;
	font-weight: 500;
}

hr {
	height: 1px;
	background-color: grey;
	border: none;
	margin: 20px 0px;

}

h1 {
	color: white;
	font-weight: 400;
	margin-bottom: 25px;
}

h2 {
	margin-bottom: 10px;
	margin-top: 15px;
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none !important;
}

p {
	font-size: 16px;
	color: white;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	font-size: 16px;
	font-weight: 500;
	padding: 8px 20px;
	border-radius: 8px;
	margin: 5px;
	border: none;
	cursor: pointer;
}

input {
	padding: 10px 20px !important;
	border-radius: 8px !important;
	margin: 5px !important;
	border: none !important;
}

.badge-dark {
	background-color: #3b3b3b !important;
	padding: 5px 10px;
	border-radius: 20px;
	color: white;
	width: fit-content;
}

.activeBtn {
	border: none !important;
}

.success-btn {
	letter-spacing: 1px;
	background-color: green !important;
	text-shadow: 1px 1px 5px black;
	color: white !important;
}

.primary-btn {
	letter-spacing: 1px;
	background-color: #c97539 !important;
	text-shadow: 1px 1px 5px black;
	color: white !important;
}

.blue-btn {
	letter-spacing: 1px;
	background-color: #3977c9 !important;
	text-shadow: 1px 1px 5px black;
	color: white !important;
}

.activeTap {
	background-color: black !important; 
	border: none !important;
}

.tap-btn {
	letter-spacing: 1px;
	border: solid 1px white;
	background-color: transparent;	
	color: white !important;
}