.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	gap: 2rem;
	margin-bottom: 4rem;
}

.navbar a {
	color: white;
	font-size: 16px !important;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 50px;
	border: solid 1px white;
	padding: 8px 20px;
}

.navbar a:hover {
	color: white !important;
	background-color: black;
	border: solid 1px black;
}